* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.wrapper {
    width: 600px;
    height: 600px;
    border: 1px solid black;
    margin: 10px;
    background: #f3f3f3;
    position: relative;
}

.bridge {
    position: relative;
}

.sideroad {
    height: 50px;
    width: 75px;
    background: darkgray;
    position: absolute;
}

.sideroad--left {
    top: 120px;
    left: 0;
}

.sideroad--right {
    top: 120px;
    right: 0;
}







/* ######################## */
/* ######################## */
/* ######################## */
.pole {
    width: 75px;
    height: 400px;
    background: darkgray;
    position: absolute;
}
.line {
    position: absolute;
    width: 25px;
    height: 25px;
    background: darkgray;
}

/* ######################## */

.pole--left {
    top: 20px;
    left: 75px;
}
.pole--left .line--left-bottom {
    top: 75px;
    left: -50px;
}
.pole--left .line--left-top {
    top: 50px;
    left: -25px;
}
.pole--left .line--right-bottom {
    top: 75px;
    left: 100px;
    background: orange;
    transition: all .5s ease-in;
}
.pole--left .line--right-top {
    top: 50px;
    left: 75px;
    background: orange;
    transition: all .5s ease-in;
}

/* ######################## */

.pole--right {
    top: 20px;
    right: 75px;
}
.pole--right .line--left-bottom {
    top: 75px;
    left: -50px;
    background: orange;
    transition: all .5s ease-in;
}
.pole--right .line--left-top {
    top: 50px;
    left: -25px;
    background: orange;
    transition: all .5s ease-in;
}
.pole--right .line--right-bottom {
    top: 75px;
    left: 100px;
}
.pole--right .line--right-top {
    top: 50px;
    left: 75px;
}
/* ######################## */
/* ######################## */
/* ######################## */



.dynamite {
    background: black;
    width: 5px;
    height: 5px;
    position: absolute;
    z-index: 2;
}
#dynamiteLeft1 {
    top: 70px;
    left: 145px;
}
#dynamiteLeft2 {
    top: 90px;
    left: 145px;
}
#dynamiteLeft3 {
    top: 120px;
    left: 145px;
}
#dynamiteLeft4 {
    top: 165px;
    left: 145px;
}

#dynamiteRight1 {
    top: 70px;
    left: 448px;
}
#dynamiteRight2 {
    top: 90px;
    left: 448px;
}
#dynamiteRight3 {
    top: 120px;
    left: 448px;
}
#dynamiteRight4 {
    top: 165px;
    left: 448px;
}

/* ######################## */

.boom {
    width: 15px;
    height: 15px;
    background: yellow;
    border: 1px solid red;
    transform: translate(-50%, -50%);
    /*transition: all .05s ease-out;*/
}

/* ######################## */

.hide {
    display: none;
}

/* ######################## */
/* ######################## */

.road {
    height: 50px;
    width: 298px;
    position: absolute;
    top: 120px;
    left: 150px;
    background: darkgray;
    transition: all .5s ease-in;
}
.road--down {
    top: 395px;
}
.line--down {
    top: 375px;
}
.line--down-top {
    top: 350px;
}

/* ######################## */

.river {
    position: absolute;
    top: 420px;
    left: 0;
    background: #3670ed;
    width: 100%;
    height: 180px;
}

/* ######################## */
/* ######################## */

.detonator {
    
}
.box {
    border: 1px solid darkred;
    background: #a0161b;
    display: inline;
    width: 80px;
    height: 80px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn {
    width: 35px;
    height: 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid darkred;
    background: #cc4549;
    padding: 2px;
    border-radius: 100%;
    cursor: pointer;
-webkit-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
box-shadow: 3px 3px 5px 0px rgba(0,0,0,0.75);
}
btn:active {
    margin-top: 3px;
-webkit-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.75);
}